coco_de_guide:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "<YOUR_ACCOUNT>"
      user: "<YOUR_USERNAME>"
      password: "<YOUR_PERSONAL_ACCESS_TOKEN>"
      role: DEMO_ROLE
      database: DEMO_DB
      warehouse: DEMO_WH
      schema: TPCH_TRANSFORMED
      threads: 4
