coco_de_guide:
  target: dev
  outputs:
    dev:
      type: snowflake
      authenticator: externalbrowser
      account: "<YOUR_ACCOUNT>"
      user: "<YOUR_USERNAME>"
      role: "<YOUR_ROLE>"
      database: DEMO_DB
      warehouse: DEMO_WH
      schema: TPCH_TRANSFORMED
      threads: 4
